.calculator {

    color: black;
    width: 380px;
    height: 520px;
    margin: 0 auto;
    background-color:  black;
    
}
.screen {
    width: 365px;
    height: 60px;
    margin:6px;
    font-size:40px;
    background-color: white;
}

.title {
    color: red;
    text-align:center;
}
.operator {
    width: 80px;
    height:60px;
    margin:6px;
    font-size:30px;
    background-color:  lemonchiffon;

}
.number {
    width: 80px;
    height:60px;
    margin:6px;
    font-size:40px;
    background-color:  grey;
}
.result {
    width: 80px;
    height:60px;
    margin:6px;
    font-size:30px;
    background-color: sienna;
}
.clean {
    width: 80px;
    height:60px;
    margin:6px;
    font-size:30px;
    background-color: orange ;
}
